.blog-grid-cont {
    display: grid;
    grid-template-columns: 1fr 1fr 300px 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
        "top top top top"
        ". main sd ."
        "bt bt bt bt";
}

#article {
    grid-area: main;
    margin: 1em 2em 1em 0em;
}

.article-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #fffff9;
    padding: 2em;
}

.article-image {
    width: 600px;
}

.social-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: .2em;
}

.linkedin-logo {
    width: 76px;
}

.social-button {
    margin-right: .3em;
}

#fb-button {
    padding-bottom: .3em;
}

#sidebar {
    grid-area: sd;
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

.related-articles-wrapper {
    background-color: #fffff9;
}

.side-bar-article img {
    width: 100%;
}

.related-articles-wrapper {
    padding: 3em 1em;
}

.footer-wrapper {
    min-width: 100%;
}