.blog-grid-cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
        "top top top top"
        ". main sd ."
        "bt bt bt bt";
}

#article {
    grid-area: main;
}

.article-wrapper {
    display: flex;
    flex-direction: column;
}

.article-image{ 
    width: 600px;
}

.social-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.linkedin-logo {
    width: 76px;
}