@import url("typography.css");

.grid-cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    border: 2px solid;
    grid-template-areas:
        "top top top top"
        "cont cont cont cont"
        "bt bt bt bt";
}
.body {
    background-color: cadetblue;
    height: 100%;
    width: auto;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-area: top;
    align-items: center;
    background-color: #fffff9;
    height: 50px;
    padding: 5px;
}

.logo-title {
    font-size: 1.25em;
    font-weight: 700;
}

#logo {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    height: 100%;
}
#logo-pic {
    height: 100%;
    width: auto;
}

.link-holder {
    display: flex;
    flex-direction: row;
}

.nav-link-container {
    margin: 0em 2em;
}
