@import url("typography.css");
@import url("blog-post.css");

.grid-cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
        "top top top top"
        "cont1 cont2 cont3 cont4"
        "bt bt bt bt";
}

body {
    background-color: cadetblue;
    height: 100%;
    margin: 0px;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-area: top;
    align-items: center;
    background-color: #fffff9;

}

#logo {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#title-container {
    display: flex;
    align-items: baseline;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: -.1em;
}

#logo-pic {
    height: 100%;
    width: auto;
}

.link-holder {
    display: flex;
    flex-direction: row;
}

.nav-link-container {
    margin: 0em 2em;
    padding: 0px 10px;
}

#one {
    grid-area: cont2;
}

#two {
    grid-area: cont3;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 100%;
    /* 5px rounded corners */
}

/* Add rounded corners to the top left and the top right corner of the image */
.card img {
    border-radius: 5px 5px 0 0;
    width: 100%;
}

.content {
    margin: 2em;
}

footer {
    grid-area: bt;
    background-color: #fffff9;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.footer-text {
    text-align: center;
    display: block;
}