@media only screen and (min-width:300px) and (max-width:600px) {

    .grid-cont {
        display: grid;
        height: 100%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 50px 1fr 50px;
        grid-template-areas:
            "top top top top"
            "cont1 cont2 cont3 cont4"
            "bt bt bt bt";
    }

body {
    min-height: 100vh;
    margin: 0px;
    display: grid;
}

#one {
    grid-area: cont1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#two {
    grid-area: cont2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#logo {
    margin-left: .2em !important;
}

.logo-title {
    font-size: 1em;
    font-weight: 500;
}

}