@media only screen and (min-width:300px) and (max-width:600px) {

    .grid-cont {
        display: grid;
        height: 100%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 50px 1fr 50px;
        grid-template-areas:
            "top top top top"
            "cont cont1 cont1 cont4"
            "bt bt bt bt" !important;
    }

    body {
        min-height: 100vh;
        margin: 0px;
        display: grid;
        width: 300px;
    }

    #one {
        grid-area: cont1 !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #two {
        display: none !important;
    }

    #logo {
        margin-left: .2em !important;
        align-items: center;
    }

    .logo-title {
        font-size: 14px;
        font-weight: 500;
    }

    .nav-link-container {
        margin: 8px !important;
        font-size: 10px !important;
    }

    .nav-bar {
        min-width: 100vw;
    }

    #logo-pic {
        height: auto !important;
        width: 30px !important;
    }

    .blog-grid-cont {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 50px 1fr 50px;
        grid-template-areas:
            "top top top top"
            ". main . ."
            "bt bt bt bt";
    }

    #sidebar {
        display: none !important;
    }
    
    #article {
        margin: 1em;
    }

    .article-image{
        width: 250px;
    }

}